body, html {
    margin: 0;
}

.inputs {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.btn {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: none;
    background-color: dimgray;
    color: white;
}

#grid_container {
    display: grid;
    grid: 300px / 25% 50% 25%;
    margin-top: 100px;
}

#grid_container >div {
    text-align: center;
}

#grid_container >div>div {
    margin-bottom: 100px;
}

#title_list {
    list-style:none;
   padding-left:0px;
   
}

#title_list_container {
    height: 500px;
    font-size: 30px;
    overflow-y: auto;
}

#title_name {
    font-size: 50px;
    margin-bottom: 50px;
}